.text{
    text-align: center;
}
.text h1{
 font-size: 500%;
 text-decoration: underline;
}
.text h2{
    font-size: 200%;
}
.img1{
    height: 500px;
    width: auto;
    display: flex;
    margin: 10px;
    justify-content: center;
    
}